In [2]:
import pandas as pd

# Load the dataset
file_path = 'C:/Users/User/OIBSIP/DataCleaningProject/data/AB_NYC_2019.csv'  
data = pd.read_csv(file_path)

# Step 1: Data Integrity - Check data types and summary statistics
print("Data Information:")
print(data.info())

print("\nSummary Statistics:")
print(data.describe(include='all'))

# Step 2: Missing Data Handling
# Fill missing 'name' and 'host_name' with placeholders
data['name'].fillna('Unknown', inplace=True)
data['host_name'].fillna('Unknown', inplace=True)

# Convert 'last_review' to datetime and keep missing as NaT
data['last_review'] = pd.to_datetime(data['last_review'])

# Fill missing 'reviews_per_month' with 0
data['reviews_per_month'].fillna(0, inplace=True)

# Verify the changes
print("\nData Information after handling missing values:")
print(data.info())

# Step 3: Duplicate Removal
# Check for duplicates
duplicate_rows = data.duplicated()
num_duplicates = duplicate_rows.sum()
print(f'\nNumber of duplicates: {num_duplicates}')

# Remove duplicates
data_cleaned = data.drop_duplicates()

# Verify removal of duplicates
num_duplicates_removed = num_duplicates - data_cleaned.duplicated().sum()
print(f'Number of duplicates removed: {num_duplicates_removed}')
print("\nData Information after removing duplicates:")
print(data_cleaned.info())

# Step 4: Standardization
# Ensuring consistent formatting (e.g., column names) and units

# Convert all column names to lowercase
data_cleaned.columns = data_cleaned.columns.str.lower()

# Check unique values of categorical columns for consistency
print("\nUnique values in 'neighbourhood_group':")
print(data_cleaned['neighbourhood_group'].unique())

print("\nUnique values in 'room_type':")
print(data_cleaned['room_type'].unique())

# Step 5: Outlier Detection
# Identify and address outliers in 'price' and 'minimum_nights'

# Outlier detection for 'price'
price_outliers = data_cleaned[(data_cleaned['price'] > data_cleaned['price'].quantile(0.99)) | (data_cleaned['price'] < data_cleaned['price'].quantile(0.01))]
print(f"\nNumber of price outliers: {len(price_outliers)}")

# Removing price outliers
data_cleaned = data_cleaned[(data_cleaned['price'] <= data_cleaned['price'].quantile(0.99)) & (data_cleaned['price'] >= data_cleaned['price'].quantile(0.01))]

# Outlier detection for 'minimum_nights'
min_nights_outliers = data_cleaned[(data_cleaned['minimum_nights'] > data_cleaned['minimum_nights'].quantile(0.99)) | (data_cleaned['minimum_nights'] < data_cleaned['minimum_nights'].quantile(0.01))]
print(f"\nNumber of minimum nights outliers: {len(min_nights_outliers)}")

# Removing minimum nights outliers
data_cleaned = data_cleaned[(data_cleaned['minimum_nights'] <= data_cleaned['minimum_nights'].quantile(0.99)) & (data_cleaned['minimum_nights'] >= data_cleaned['minimum_nights'].quantile(0.01))]

# Final check
print("\nData Information after standardization and outlier removal:")
print(data_cleaned.info())

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

Summary Statistics:
                  id            name       host_id host_name  \
count   4.889500e+04           48879  4.889500e+04     48874
unique           NaN           47905           NaN     11452
top              NaN  Hillside Hotel           NaN   Michael
freq             NaN              18           NaN       417
mean    1.901714e+07             NaN  6.762001e+07       NaN
std     1.098311e+07             NaN  7.861097e+07       NaN
min     2.539000e+03             NaN  2.438000e+03       NaN
25%     9.471945e+06             NaN  7.822033e+06       NaN
50%     1.967728e+07             NaN  3.079382e+07       NaN
75%     2.915218e+07             NaN  1.074344e+08       NaN
max     3.648724e+07             NaN  2.743213e+08       NaN

       neighbourhood_group neighbourhood      latitude     longitude  \
count                48895         48895  48895.000000  48895.000000
unique                   5           221           NaN           NaN
top              Manhattan  Williamsburg           NaN           NaN
freq                 21661          3920           NaN           NaN
mean                   NaN           NaN     40.728949    -73.952170
std                    NaN           NaN      0.054530      0.046157
min                    NaN           NaN     40.499790    -74.244420
25%                    NaN           NaN     40.690100    -73.983070
50%                    NaN           NaN     40.723070    -73.955680
75%                    NaN           NaN     40.763115    -73.936275
max                    NaN           NaN     40.913060    -73.712990

              room_type         price  minimum_nights  number_of_reviews  \
count             48895  48895.000000    48895.000000       48895.000000
unique                3           NaN             NaN                NaN
top     Entire home/apt           NaN             NaN                NaN
freq              25409           NaN             NaN                NaN
mean                NaN    152.720687        7.029962          23.274466
std                 NaN    240.154170       20.510550          44.550582
min                 NaN      0.000000        1.000000           0.000000
25%                 NaN     69.000000        1.000000           1.000000
50%                 NaN    106.000000        3.000000           5.000000
75%                 NaN    175.000000        5.000000          24.000000
max                 NaN  10000.000000     1250.000000         629.000000

       last_review  reviews_per_month  calculated_host_listings_count  \
count        38843       38843.000000                    48895.000000
unique        1764                NaN                             NaN
top     2019-06-23                NaN                             NaN
freq          1413                NaN                             NaN
mean           NaN           1.373221                        7.143982
std            NaN           1.680442                       32.952519
min            NaN           0.010000                        1.000000
25%            NaN           0.190000                        1.000000
50%            NaN           0.720000                        1.000000
75%            NaN           2.020000                        2.000000
max            NaN          58.500000                      327.000000

        availability_365
count       48895.000000
unique               NaN
top                  NaN
freq                 NaN
mean          112.781327
std           131.622289
min             0.000000
25%             0.000000
50%            45.000000
75%           227.000000
max           365.000000

Data Information after handling missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               48895 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB
None

Number of duplicates: 0
Number of duplicates removed: 0

Data Information after removing duplicates:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               48895 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB
None

Unique values in 'neighbourhood_group':
['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']

Unique values in 'room_type':
['Private room' 'Entire home/apt' 'Shared room']

Number of price outliers: 878

Number of minimum nights outliers: 475

Data Information after standardization and outlier removal:
<class 'pandas.core.frame.DataFrame'>
Index: 47542 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47542 non-null  int64
 1   name                            47542 non-null  object
 2   host_id                         47542 non-null  int64
 3   host_name                       47542 non-null  object
 4   neighbourhood_group             47542 non-null  object
 5   neighbourhood                   47542 non-null  object
 6   latitude                        47542 non-null  float64
 7   longitude                       47542 non-null  float64
 8   room_type                       47542 non-null  object
 9   price                           47542 non-null  int64
 10  minimum_nights                  47542 non-null  int64
 11  number_of_reviews               47542 non-null  int64
 12  last_review                     38019 non-null  datetime64[ns]
 13  reviews_per_month               47542 non-null  float64
 14  calculated_host_listings_count  47542 non-null  int64
 15  availability_365                47542 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.2+ MB
None